tickTime={{ zookeeper_tickTime }}
dataDir=/var/lib/zookeeper
clientPort=2181
initLimit={{ zookeeper_initLimit }}
syncLimit={{ zookeeper_syncLimit }}
{% for host in groups['all'] %}
{% if hostvars[host].zookeeper is sameas true %}
server.{{ loop.index }}={{ host }}:2888:3888
{% endif %}
{% endfor %}
